<div class="section-padded section-header">
    <h1 class="section-title"><%= _('Instrumentation Log').t() %></h1>
    <div class="breadcrumb settings"><a trigger-route href="<%= router.permalinks.settingsPage %>"><%= _("Instrumentation").t() %></a> » <%= _("Instrumentation Log").t() %></div>
    <span><%= _('View record of data sent to Splunk, or all data collected for a given time range.').t() %></span>
    <div data-component="alertMessage"></div>
</div>

<div class="panel main-logs-panel">

    <ul data-component="tabBar"></ul>
    <% if (viewModel.get('selectedTabId') == constants.DATA_TYPES.ANONYMOUS) { %>
        <div data-component="anonymousDataLogs"></div>
    <% } %>
    <% if (viewModel.get('selectedTabId') == constants.DATA_TYPES.LICENSE) { %>
        <div data-component="licenseDataLogs"></div>
    <% } %>

</div>
