<div class="section-padded section-header">
    <h1 class="section-title"><%= _('Instrumentation').t() %></h1>
    <span><%= _('Configure automated reporting settings, view collected data, export data to file, or send data to Splunk.').t() %></span>
    <div data-component="alertMessage"></div>
</div>
<div class="panel">
    <fieldset>
        <legend><%= _('Anonymized Usage Data').t() %></legend>
        <p>
            <%= _('Help improve Splunk products and services by automatically sending anonymized data about Splunk performance on this environment.').t() %>
            <span class="anonymous_instrumentation_doc_link" data-component="anonymousDataDocLink"></span>
        </p>
        <ul class="dot-leader">
            <li>
                <span><%= _('Status').t() %></span>
                <span>
                    <span class="anonymous_data_toggle" data-component="anonymousDataToggle"></span>
                    <% if (model.get('anonymous_usage_data').get('30_day_error_count') > 0) { %>
                        <span class="anonymous_data_error_warning">
                            <div class="inline-alert alert-warning"><i class="icon-alert"></i></div>
                            <a trigger-route class="anonymous-usage-errors-link"
                                href="<%= constants.VIEW_30DAY_ANONYMOUS_REPORTING_ERRORS_URL %>">
                                <%= model.get('anonymous_usage_data').get('30_day_error_count') %>
                                <%= model.get('anonymous_usage_data').get('30_day_error_count') == 1 ?
                                        _('send error').t() :
                                        _('send errors').t() %>
                            </a>
                            <%= _(' in last 30 days').t() %>
                        </span>
                    <% } %>
                </span>
            </li>
            <% if (model.get('anonymous_usage_data').get('last_sent')) { %>
                <li>
                    <span><%= _('Last sent').t() %></span>
                    <span><%= model.get('anonymous_usage_data').get('last_sent') %></span>
                </li>
            <% } %>
        </ul>
        <div>
            <a trigger-route class="view-anonymous-data-log btn" href="<%= router.permalinks.anonymousDataLogs %>"><%= _('View Log').t() %></a> <button class="export-anonymous-data btn btn-primary"><%= _('Export & Send').t() %></button>
        </div>
    </fieldset>

    <fieldset>
        <legend><%= _('License Usage Data').t() %></legend>
        <p>
            <%= _('Automatically share license usage data, as required by select licenses.').t() %>
            <span class="license_instrumentation_doc_link" data-component="licenseDataDocLink"></span>
        </p>
        <ul class="dot-leader">
            <li>
                <span><%= _('Status').t() %></span>
                <span>
                    <span class="license_data_toggle" data-component="licenseDataToggle"></span>
                    <% if (model.get('license_usage_data').get('30_day_error_count') > 0) { %>
                        <span class="license_data_error_warning">
                            <div class="inline-alert alert-warning"><i class="icon-alert"></i></div>
                            <a  trigger-route
                                class="license-usage-errors-link"
                                href="<%= constants.VIEW_30DAY_LICENSE_REPORTING_ERRORS_URL %>">
                                <%= model.get('license_usage_data').get('30_day_error_count') %>
                                <%= model.get('license_usage_data').get('30_day_error_count') == 1 ?
                                        _('send error').t() :
                                        _('send errors').t() %>
                            </a>
                            <%= _(' in last 30 days').t() %>
                        </span>
                    <% } %>
                </span>
            </li>
            <% if (model.get('license_usage_data').get('last_sent')) { %>
                <li>
                    <span><%= _('Last sent').t() %></span>
                    <span><%= model.get('license_usage_data').get('last_sent') %></span>
                </li>
            <% } %>
        </ul>
        <div>
            <a trigger-route class="view-license-data-log btn" href="<%= router.permalinks.licenseDataLogs %>"><%= _('View Log').t() %></a> <button class="export-license-data btn btn-primary"><%= _('Export & Send').t() %></button>
        </div>
    </fieldset>

</div>
